//

/** {{.TableComment}} */
interface {{.ClassName}} {
    {{ range .Columns}}
    /** {{.ColumnComment}} */
    {{.JsonField}}:  {{.TsType}};
    {{- end }}
}


interface FormItemProps {
  /** 角色名称 */
  name: string;
  /** 角色编号 */
  code: string;
  /** 备注 */
  remark: string;
}
interface FormProps {
  formInline: FormItemProps;
}

export type { FormItemProps, FormProps, {{.ClassName}} };
