package service

import (
	"github.com/baowk/dilu-core/core/base"
)

type {{.ClassName}}Service struct {
	*base.BaseService
}

var Ser{{.ClassName}} = {{.ClassName}}Service{
	base.NewService("{{.PackageName}}"),
}

